[Desktop Entry]
Version=1.0
Type=Application
Exec=pkexec thunar
Terminal=false
Icon=/opt/gksu/gksu.logo.black.png
Name=gksu
GenericName=gksu
Comment=Thunar Admin Mode

