#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Exec=gksu thunar
Terminal=false
Icon=/opt/gksu/gksu.logo.png
Icon[en_US]=/opt/gksu/gksu.logo.png
Name=gksu
Name[en_US]=gksu
GenericName=gksu
Comment=Thunar Admin Mode
Comment[en_US]=Thunar Admin Mode

